<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.incoherent.suseconferenceclient"
    android:versionCode="6"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-feature android:name="android.hardware.camera" 
              android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth"
              android:required="false"/>
    <uses-feature android:name="android.hardware.telephony"
              android:required="false"/>
    <application
        android:name=".SUSEConferences"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <activity
            android:name=".activities.HomeActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScheduleActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.SearchResultsActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.MapsActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.ConferenceListActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_conference_list" >
        </activity>
        <activity
            android:name=".activities.SocialActivity"
              android:theme="@style/AppTheme"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".activities.ScheduleDetailsActivity"
              android:theme="@style/AppTheme"
            android:label="" >
        </activity>
        <receiver android:enabled="true" android:name=".app.AlarmReceiver" android:exported="false"></receiver>
        
    </application>
</manifest>